@use '@mixins' as mixins;
@use '@variables' as variables;

.title {
  @include mixins.fontSecondaryMedium;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin: 50px 0 20px;
  text-align: center;
}

.description {
  @include mixins.fontPrimary;
  font-size: 18px;
  text-align: center;
}

.email {
  border: none;
  background: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 18px;
  width: 450px;
  padding: 10px 0;
  &::placeholder {
    @include mixins.fontPrimary;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.submitted {
  @include mixins.fontPrimary;
  font-size: 18px;
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  width: 50px;
  &:nth-child(2) {
    margin: 0 20px;
    width: 43px;
  }
}

@media screen and (max-width: variables.$mobile) {
  .title {
    font-size: 24px;
  }
  .email,
  .description,
  .submitted {
    font-size: 16px;
  }
  .email {
    width: 100%;
  }
}
