@use '@mixins' as mixins;
@use '@variables' as variables;

.title {
  @include mixins.fontPrimaryMedium;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin: 50px 0 20px;
  text-align: center;
}

.description {
  @include mixins.fontPrimary;
  width: 800px;
  display: block;
  margin: 0 auto 50px;
}

.signUp {
  @include mixins.fontPrimary;
  font-size: 18px;
  width: 800px;
}

.email {
  border: none;
  background: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 18px;
  width: 450px;
  padding: 10px 0;
  &::placeholder {
    @include mixins.fontPrimary;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.submitted {
  @include mixins.fontPrimary;
  font-size: 18px;
  text-align: center;
}

.error {
  @include mixins.fontPrimary;
  color: red;
  margin-top: 10px;
}

@media screen and (max-width: variables.$mobile) {
  .title {
    font-size: 24px;
  }
  .email,
  .signUp,
  .submitted {
    font-size: 16px;
  }
  .description,
  .signUp,
  .email {
    width: 100%;
  }
}
