@use '@mixins' as mixins;
@use '@variables' as variables;

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin: 50px 0 30px;
  text-align: center;
}

.description {
  @include mixins.fontPrimary;
  font-size: 18px;
}

.email {
  border: none;
  background: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 18px;
  width: 500px;
  padding: 10px 0;
  &::placeholder {
    @include mixins.fontPrimary;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.submitted {
  @include mixins.fontPrimary;
  font-size: 18px;
}

@media screen and (max-width: variables.$mobile) {
  .title {
    font-size: 24px;
  }
  .email,
  .description,
  .submitted {
    font-size: 16px;
  }
}
