@use '@variables' as variables;

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$beige;
  flex-direction: column;
  padding: 80px 20px;
  position: relative;
  @media screen and (max-width: variables.$mobile) {
    min-height: 100vh;
    height: auto;
    padding-top: 65px;
    justify-content: flex-start;
  }
}

.instagram {
  position: absolute;
  top: 20px;
  right: 20px;
}
