@font-face {
  font-family: 'DM Mono Regular';
  src: url('../../asset/DM_Mono/DMMono-Regular.ttf');
}

@font-face {
  font-family: 'DM Mono Light';
  src: url('../../asset/DM_Mono/DMMono-Light.ttf');
}

@font-face {
  font-family: 'DM Mono Medium';
  src: url('../../asset/DM_Mono/DMMono-Medium.ttf');
}

@font-face {
  font-family: 'Gerstner Programm Regular';
  src: url('../../asset/Gerstner Programm/Gerstner Programm Regular.otf');
}

@font-face {
  font-family: 'Gerstner Programm Medium';
  src: url('../../asset/Gerstner Programm/Gerstner Programm Medium.otf');
}

@font-face {
  font-family: 'Gerstner Programm Light';
  src: url('../../asset/Gerstner Programm/Gerstner Programm Light.otf');
}
